html {
	font-size: 1.3em;
}

body {
	background-color: #F0F0F0;
}

#banner {
	background-color: #000000;
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0rem;
	left: 0rem;
	box-shadow: 0rem .3rem .5rem #888888;
}

#banner h1 {
	font-family: sans-serif;
	font-weight: 100;
	font-size: 2rem;
	letter-spacing: .4rem;
	color: #FFF;
	margin: 1.5rem 0rem 0rem 2rem;
}

#nav {
	width: 40%;
	height: 4rem;
	position: fixed;
	top: 0rem;
	right: 0rem;
}

.tab {
	background-color: #222;
	float: left;
	width: 6rem;
	height: 100%;
}

.stripe {
	float: left;
	width: .2rem;
	height: 100%;
}

#blogStripe {
	background-color: #33CC33;
}
#blogTab:hover {
	background-color: #33CC33;
}
#blogTab:active {
	background-color: #55EE55;
	box-shadow: inset .1rem 0rem .5rem;
}

#resumeStripe {
	background-color: #0099FF;
}
#resumeTab:hover {
	background-color: #0099FF;
}
#resumeTab:active {
	background-color: #22BBFF;
	box-shadow: inset .1rem 0rem .5rem;
}

#aboutStripe {
	background-color: #FF3300;
}
#aboutTab:hover {
	background-color: #FF3300;
}
#aboutTab:active {
	background-color: #FF5522;
	box-shadow: inset .1rem 0rem .5rem;
}

.tab p {
	font-family: sans-serif;
	font-weight: 100;
	color: #FFF;
	margin-top: 2rem;
}

#blogTab:hover p {
	color: #000;
}
#resumeTab:hover p {
	color: #000;
}
#aboutTab:hover p {
	color: #000;
}

#page {
	background-color: #FFF;
	margin: 4rem auto 1rem;
	max-width: 50rem;
	box-shadow: 0rem 0rem .3rem #888888;
}

#content {
	margin-left: 5rem;
	margin-right: 5rem;
	padding-top: 3rem;
}

#content h1 {
	font-weight: 100;
	font-family: sans-serif;
	text-align: center;
}

#content p {
	font-family: serif;
	line-height: 2;
}

#hamburger {
	background-color: #222;
	width: 15%;
	height: 4rem;
	position: fixed;
	top: 0rem;
	right: 0rem;
	display: none;
}
#hamburger:hover {
	background-color: #555;
}
#hamburger:active {
	box-shadow: inset 0rem 0rem .5rem;
}

.patty {
	height: .3rem;
	width: 70%;
	margin: .8rem auto;
	border-radius: 1rem;
}

#topPatty {
	background-color: #33CC33;
}
#middlePatty {
	background-color: #0099FF;
}
#bottomPatty {
	background-color: #FF3300;
}

@media (max-width: 70em) {
	#page {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
}

@media (max-width: 65em) {
	#page {
		max-width: 46rem;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 60em) {
	.tab {
		width: 33%;
	}
}

@media (max-width: 50em) {
	#content {
		max-width: 28rem;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 45em) {
	#banner h1 {
		margin-top: 1.5rem;
		font-size: 1.5rem;
	}
}

@media (max-width: 41em) {
	#content {
		margin-left: 1.4rem;
		margin-right: 1.4rem;
	}
}

@media (max-width: 40em) {
	#nav {
		position: fixed;
		left: 0rem;
		top: 4rem;
		width: 101%;
		height: 2rem;
	}
	.tab p {
		margin-top: .6rem;
	}
}